@import "../../styles/variables.scss";

.prjTitleContainer {
  display: flex;
  width: 100%;
  padding: 70px 0 70px 0;
  margin-top: 100px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  @media only screen and (min-width: $breakpoint-sm) {
    padding: 120px 0 90px 0;
  }
  @media only screen and (min-width: $breakpoint-md) {
    // padding: 180px 0 180px 0;
    min-height: 500px;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    min-height: 650px;
  }
  @media only screen and (min-width: $breakpoint-xl) {
    // padding: 220px 0 220px 0;
  }
  .title {
    margin-bottom: 32px;

    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 0;
      max-width: 70%;
    }

    span {
      overflow: hidden;
      display: block;
      .titleSpan {
        opacity: 1;
      }
    }
  }

  .videoContainer{   
    margin:0px;
    padding:0px;
    overflow:hidden;
    position: relative;
    display: block;
    height: 100%;
    z-index: 0;
    @media only screen and (min-width: $breakpoint-md) {
      position: absolute;
      right: 0;
      top: 50%;
      width: 600px;
      transform: translateY(-50%);
    }
    @media only screen and (min-width: $breakpoint-lg) {
      width: 900px;
    }
  }
  .imageContainer {
    position: relative;
    display: block;
    height: 100%;
    z-index: 0;
    @media only screen and (min-width: $breakpoint-md) {
      position: absolute;
      right: 0;
      top: 50%;
      width: 600px;
      transform: translateY(-50%);
    }
    @media only screen and (min-width: $breakpoint-lg) {
      width: 900px;
    }

    > span {
      // position: unset !important;
    }

    .projImage {
      // object-fit: contain;
      // width: 100% !important;
      // position: relative !important;
      // height: unset !important;
      // max-height: 100%;
      // max-width: 100%;
    }

    .imgForeground {
      background-color: var(--white);
      height: 100%;
      width: 100%;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.description {
  margin-top: 0;
  margin-bottom: 32px;
  @media only screen and (min-width: $breakpoint-sm) {
    margin-top: 0;
    margin-bottom: 64px;
  }
  @media only screen and (min-width: $breakpoint-md) {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
.bottomTitleSection {
  border-bottom: 1px solid var(light-gray);
  padding-bottom: 0;
  @media only screen and (min-width: $breakpoint-sm) {
    padding-bottom: 64px;
  }
  p.label {
    margin-bottom: 8px;
    font-family: $font-extra-light;
  }
  p.keyFact {
    margin-bottom: 16px;
    font-family: $font-regular;
    margin-bottom: 32px;
    @media only screen and (min-width: $breakpoint-sm) {
      margin-bottom: 0;
    }
    img {
      height: 24px;
      width: 24px;
    }
  }
}
.projDetailsSection {
  .detailLabel {
    margin-bottom: 16px;
  }
  .detailBody {
    margin-bottom: 64px;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 96px;
    }
  }

  p {
    margin-bottom: 24px;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 32px;
    }
  }

  .divider {
    border-bottom: 1px solid var(light-gray);
  }
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  @media only screen and (min-width: $breakpoint-md) {
    margin-bottom: 96px;
  }

  .skillsCell {
    height: 50px;
    display: flex;
    align-items: center;
    width: 33%;

    @media only screen and (min-width: $breakpoint-md) {
      height: 70px;
    }
    p {
      font-family: $font-extra-light;
    }
  }
}
