@import "../../styles/variables.scss";

.projWrap {
  text-decoration: none;
  @media only screen and (min-width: $breakpoint-sm) {
    margin-bottom: 60px;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    margin-bottom: 90px;
  }
  &:hover {
    color: inherit;
  }


  article {
    margin-bottom: 40px;
    padding-bottom: 42px;
    border-bottom: 1px solid var(--light-grey);
    position: relative;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 54px;
    }
    .imgContainer {
      position: relative;
      display: block;
      margin-bottom: 24px;
      width: 100%;
      @media only screen and (min-width: $breakpoint-md) {
        margin-bottom: 32px;
      }

      > span {
        position: unset !important;
      }

      .pgImage {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }

      .imgForeground {
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        background-color: var(--off-white);
      }
    }

  
      
      }
    }
  

