@import '../../styles/variables.scss';

.projWrap {
    text-decoration: none;
    overflow: hidden;
    height: fit-content;
    // aspect-ratio: 16 / 11.2; // 或者其他适合你设计的比例
    @media only screen and (max-width: $breakpoint-sm) {
        margin-bottom: 14px;
    }
    @media only screen and (min-width: $breakpoint-sm) {
        margin-bottom: 20px;
    }
    @media only screen and (min-width: $breakpoint-lg) {
        margin-bottom: 20px;
    }

    article {
        .imgContainer {
            position: relative;
            display: block;
            width: 100%;
            aspect-ratio: 16/9; // Add a default aspect ratio
            @media only screen and (min-width: $breakpoint-md) {
                margin-bottom: 10px;
            }

            > span {
                position: unset !important;
            }

            .pgImage {
                object-fit: cover;
                width: 100% !important;
                position: relative !important;
                height: unset !important;
            }

            video.pgImage {
                display: block; // 添加 display: block;。这会移除图片下方可能存在的小空隙。
            }
        }
    }
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-bottom: 66.67%; /* 3:2比例 */
  overflow: hidden;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16/9; 
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  transition: opacity 0.3s ease;
  border-radius: 4px; // Optional: add some rounded corners
}

.hidden {
  opacity: 0;
}

.pgImage {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.loading {
  opacity: 0;
  transform: scale(1.05);
}

.loaded {
  opacity: 1;
  transform: scale(1);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
