@import "../../styles/variables.scss";

.projWrap {
  text-decoration: none;
  @media only screen and (min-width: $breakpoint-sm) {
    margin-bottom:20px;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    margin-bottom: 20px;
  }
  &:hover {
    color: inherit;
  }


  article {
  
    .imgContainer {
      position: relative;
      display: block;
      width: 100%;
      @media only screen and (min-width: $breakpoint-md) {
        margin-bottom: 10px;
      }

      > span {
        position: unset !important;
      }
      

      .pgImage {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }

      video.pgImage {

        display: block; // 添加 display: block;。这会移除图片下方可能存在的小空隙。
      }

      .imgForeground {
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        background-color: var(--off-white);
      }
    }
      }
    }
  

