@import "../../styles/variables.scss";

.roundLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  background-color: var(--accent-color);
  border-radius: 50%;
  padding: 14px;
  text-align: center;
  transition: transition(transform);
  color: var(--preloader);
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  &:hover {
    transform: rotate(-15deg);
    color: var(--preloader);
    background-color: var(--black);
  }
  @media only screen and (min-width: $breakpoint-md) {
    height: 150px;
    width: 150px;
    font-size: 16px;
  }
}
