@import '../../styles/variables.scss';

.footer {
    margin-top: 180px;
    padding: 80px 0;
    @media only screen and (max-width: $breakpoint-sm) {
        margin-top: 0px;
        padding: 14px 0;
    }
    @media only screen and (min-width: $breakpoint-sm) {
        margin-top: 180px;
        padding: 90px 0;
    }
    @media only screen and (min-width: $breakpoint-sm) {
        margin-top: 200px;
    }
    @media only screen and (min-width: $breakpoint-lg) {
        margin-top: 200px;
        padding: 90px 0;
    }
}

.bottom {
    border-top: 2px solid #1e1e1e;
    padding-top: 40px;
    @media only screen and (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr; // 手机端改为单列布局
        gap: 24px; // 增加行间距
        padding-top: 20px;
    }
    @media only screen and (min-width: $breakpoint-sm) {
        padding-top: 45px;
    }
    @media only screen and (min-width: $breakpoint-md) {
        padding-top: 60px;
    }

    p {
        font-size: clamp(14px, 2vw, 18px);
        font-weight: bold;
        text-align: left;
        margin-bottom: 8px;
        color: var(--dark-grey);
        @media only screen and (min-width: $breakpoint-sm) {
            margin-bottom: 0;
            text-align: left;
        }
    }
}

.singleLine {
    display: flex; // 使用 Flexbox
    flex-direction: column; // 水平排列
    align-items: left; // 垂直居中对齐
    justify-content: flex-start; // 左对齐
    gap: 24px;
    @media only screen and (max-width: $breakpoint-sm) {
        flex-direction: column; // 手机端改为垂直排列
        align-items: left; // 垂直居中对齐
        gap: 4px;
    }
}
.contactInfo {
    display: flex;
    justify-content: space-between;
    width: 90%; // 确保占满整个宽度
}

.labels {
    p {
        font-weight: bold;
        font-size: clamp(14px, 2vw, 18px);
    }
}

.details {
    text-align: right;

    p {
        font-size: clamp(14px, 2vw, 18px);
    }
}
