@import '../../styles/variables.scss';

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch; // 增加平滑滚动支持
}

.projTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.selectedWorkContainer {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    .projTitle {
        margin-bottom: 36px;
    }

    // 修改网格布局
    .grid {
        display: grid;
        gap: 20px;

        @media only screen and (max-width: $breakpoint-sm) {
            grid-template-columns: 1fr; // 手机端单列
        }

        @media only screen and (min-width: $breakpoint-sm) {
            grid-template-columns: repeat(12, 1fr); // 保持原有的网格系统
        }
    }
}

.awardItem {
    margin-bottom: 20px;
    width: 100%;

    @media only screen and (min-width: $breakpoint-sm) {
        &.largeGridItem {
            grid-column: span 12; // 大项目占据整行
        }

        &.smallGridItem {
            grid-column: span 4; // 小项目占据 4 列，实现三个一行
        }
    }
}
