@import "../styles/variables.scss";



.heroContainer {
  background-color: var(--off-white);
  display:flex;
  align-items: center;
  width: 100%;
  padding: 170px 0 0 0;
  @media only screen and (min-width: $breakpoint-sm) {
    padding: 200px 0 90px 0;
  }
  @media only screen and (min-width: $breakpoint-md) {
    padding: 280px 0 180px 0;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    padding: 280px 0 180px 0;
  }
  @media only screen and (min-width: $breakpoint-xl) {
    padding: 320px 0 220px 0;
  }
}

.three{
  position: absolute;
    z-index: 0;
    @media only screen and (max-width: $breakpoint-sm) {
    width:  100vw;
    height: 80vh;
  }
  @media only screen and (min-width: $breakpoint-sm) {
    width:  100vw;
    height: 60vh;
  }
  @media only screen and (min-width: $breakpoint-md) {
     width:  160vw;
    height: 80vh;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    width:  160vw;
    height: 80vh;
  }
  @media only screen and (min-width: $breakpoint-xl) {
    width:  160vw;
    height:  80vh;
  }
  // background: linear-gradient(to bottom, var(--accent-color) 0%, var(--off-white) 100%);
}

.threegradient{
  position: absolute;
  z-index: 1;
    @media only screen and (max-width: $breakpoint-sm) {
    width:  100vw;
    height: 80vh;
  }
  @media only screen and (min-width: $breakpoint-sm) {
    width:  100vw;
    height: 60vh;
  }
  @media only screen and (min-width: $breakpoint-md) {
     width:  160vw;
    height: 80vh;
  }
  @media only screen and (min-width: $breakpoint-lg) {
    width:  160vw;
    height: 80vh;
  }
  @media only screen and (min-width: $breakpoint-xl) {
    width:  160vw;
    height:  80vh;
  }
  background: linear-gradient(to bottom, var(--off-white) 0%, var(--gradient-color) 50%, var(--off-white) 100%);
}


.name {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
  position: flex;
  z-index: 1;
  @media only screen and (min-width: $breakpoint-sm) {
    font-size: 24px;
    margin-bottom: 24px;
  }
  @media only screen and (min-width: $breakpoint-md) {
    margin-bottom: 32px;
  }
  span {
    display: block;
    overflow: hidden;
    & > span {
      opacity: 0;
    }
  }
}


.subTitle {
  position: relative;
  z-index: 1;
  display: flex;
  
  overflow: hidden;
    
  div::before {
	            position:absolute;
	            top:0;
	            left:0;
	            content:attr(data-char);
	            transform:translateY(-103%);}
  div{
	            display:inline-block;
	            letter-spacing:-0.3vw;}


  span {
    display: flex;
    overflow: hidden;
    & > span {
      opacity: 1;
    }

    &.offset {
      margin-left: 61px;
      margin-bottom: 32px;
      @media only screen and (min-width: $breakpoint-sm) {
        margin-left: 121px;
        margin-bottom: 32px;
      }
      @media only screen and (min-width: $breakpoint-md) {
        margin-left: 138px;
        margin-bottom: 0;
      }
      @media only screen and (min-width: $breakpoint-lg) {
        margin-left: 168px;
      }
    }
   
  }
}

.heroLinkContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  min-height: 120px;
  @media only screen and (min-width: $breakpoint-md) {
    min-height: unset;
  }
}

.selectedWorkContainer {
  background-color: var(--off-white);

  .projTitle {
    margin-bottom: 40px;
    @media only screen and (min-width: $breakpoint-md) {
      margin-bottom: 84px;
    }
  }
  .caseStudyCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media only screen and (min-width: $breakpoint-sm) {
      margin-top: -30px;
    }
    @media only screen and (min-width: $breakpoint-md) {
      margin-top: -50px;
    }
  }
}

.aboutCol {
  a {
    display: block;
    width: fit-content;
  }
}
