@import "../../styles/variables.scss";

.projectNav {
  // padding: 48px;
  // background-color: hsl(0, 1%, 19%);
  color:var(--font);


}

// Style for "Industrial Design" section
.typeOneSection {
  background-color: var(--dark-grey); // Darker background
  color: var(--font);
  padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 20px;
  cursor: pointer;
}

.typeOneProjectList {
  background-color: #313030; // Same color as the section
  color: var(--font);
}

.typeOneProjectList li:hover {
  background-color: #4a4a4a; // Slightly lighter hover background
  font-weight: bold;
}

// Style for "Graphic Design" section
.typeTwoSection {
  background-color: var(--light-grey); // Lighter grey background
  color: var(--font);
  padding-left: 48px;
    padding-top: 48px;
    padding-bottom: 20px;
  cursor: pointer;
}

.typeTwoProjectList {
  background-color: #d3d3d3;
  color:var(--font);
}

.typeTwoProjectList li:hover {
  background-color: #b0b0b0; // Lighter grey on hover
  font-weight: bold;
}

.projectNav li {
  margin-bottom: 10px;
  padding-left: 48px;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.selected {
  background-color: #ffb30035; // Highlight selected project with a unique color
}

.projectImage {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 600px;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projectNav li:hover .projectImage {
  display: block;
}

.hidden {
  display: none;
}
