.layoutContainer {
  display: flex;
  height: 100vh; // Full viewport height
}

.projectNav {
  
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%; // 设置高度为窗口高度
}

.navContainer {
  height: 100%; // Make sure the container takes full height
  width: 25vw; // Set the width of the container
  display: flex;
  flex-direction: column;
}


.imageContainer {
  display: flex;
  z-index: -1;
}

.projectImage{
    transition: opacity 0.5s ease-in-out;
  object-fit: cover;
}

.imageTop {
  width: 75vw; // 设置图片容器的宽度为75vw
  display: flex;
  height: 90vh;
}


.imageBottom {
  transform: translateY(calc(100vh - 95vh)); // 使图片容器贴到窗口底部
  width: 75vw; // 设置图片容器的宽度为75vw
  display: flex;
  height: 90vh; // 设置图片容器的高度为90vh
}

.section {
  cursor: pointer;
  width: 100vw;
}

.sectionButton {
  height: 10vh;
  width: 100%;
  padding: 0 48px; // 修改这一行
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  color: var(--light-grey);
  transition: color 0.3s ease;
  display: flex; // 添加这一行
  align-items: center; // 添加这一行
  justify-content: space-between;
}

.sectionButton.expanded {
  font-size: 1rem;
  text-transform: uppercase; // 将文本转换为大写
  color:var(--white);
}

.sectionButtonContent {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: 768px) {
    gap: 16px; // 在小屏幕上减小间隔
  }

  @media (min-width: 1200px) {
    gap: 32px; // 在大屏幕上增加间隔
  }
}

.plusIcon {
  transition: transform 0.3s ease; // 添加过渡效果
}



.sectionButtonSectionTwo{
  color:var(--font);
}

.sectionButtonSectionTwo.expanded {
   color: var(--black);
}
/* Section-specific background colors */
.sectionOne {
  background-color: var(--dark-grey); 
}

.sectionOne.expanded {
  width: 25vw; // 展开时占窗口宽度的25%
  height: 90vh;
}

.sectionTwo {
  background-color: var(--light-grey); // Lighter grey background for Graphic Design
}


.sectionTwo.expanded {
  width: 25vw; // 展开时占窗口宽度的25%
    height: 90vh;
}


/* Project list styling */
.time{
  padding-top: 0px;
}
.projectListDark {
  padding: 0px 48px;
  flex-grow: 1;
  overflow-y: auto;
  width: 25vw;
}

。

.projectListDark li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.projectListDark li:hover {
  color: var(--highlight); // Highlight text color on hover
  text-decoration: underline; // Add underline on hover
}

/* Project list styling */
.projectListLight {
  padding: 0px 48px;
  flex-grow: 1;
    width: 25vw;
  overflow-y: auto;

}

.projectListLight li {

  cursor: pointer;
  transition: color 0.3s ease;
}

.projectListLight li:hover {
  text-decoration: underline; // Add underline on hover
}

.selectedsection1 {
  color:var(--white);
}
.selectedsection2 {
  color:var(--black);
}


.titleIndented {
  padding-left: 2em; // 增加两格缩进
}
