@font-face {
  font-family: "SofiaExtraLight";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ ExtraLight\ Az.otf")
    format("opentype");
}

@font-face {
  font-family: "SofiaLight";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Halyard Micro Light.ttf")
    format("opentype");
}

@font-face {
  font-family: "SofiaRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/Sofia\ Pro\ Regular\ Az.otf")
    format("opentype");
}
