
// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

// Grid Gutters
$gutters: 20px;
$gutters-sm: 30px;
$gutters-lg: 100px;

// Grid Lateral margins
$grid-margins: 20px;
$grid-margins-sm: 30px;
$grid-margins-md: 30px;
$grid-margins-lg: 60px;

// Grid
$grid-columns: 12;
$grid-max-width: 1520px;

// var(--black): #f1f1f1;
// --white: #ffffff;
// $dark-grey: #555;
// $light-grey: #212121;
// $off-white: #000000;
// $accent-color: #41ce46;
// $border: #ddd;

// Colors


// @function customLighten($color-variable, $value) {
//     $color-variable-h: var(#{$color-variable + "-h"});
//     $color-variable-s: var(#{$color-variable + "-s"});
//     $color-variable-l: calc(var(#{$color-variable + "-l"}) - #{$value+"%"});
//     @return hsl($color-variable-h, $color-variable-s, $color-variable-l);
// }

// @function darkmode($color-variable) {
//   $color-variable-h: var(#{$color-variable});
//   @return $color-variable-h;
// }



// .light{
// var(--black): #000000;
// $white: #ffffff;
// $dark-grey: #555;
// $light-grey: #212121;
// $off-white: #000000;
// $accent-color: #41ce46;
// $border: #ddd;
// }
// Header
$nav-h: 70px;
$nav-h-sm: 70px;
$nav-h-md: 100px;
$nav-h-lg: 100px;

// Font
$font-extra-light: SofiaExtraLight, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;

$font-light: SofiaLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$font-regular: SofiaRegular, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

@function transition(
  $property,
  $duration: 150ms,
  $delay: 0s,
  $timing-function: ease-out
) {
  @return $property $duration $timing-function $delay;
}
