@import "../../styles/variables.scss";


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.threeF {
  position: absolute;
  align-items:center;
  z-index:1;
  animation: fade-in 19s ease 1s forwards;
}



